@import "bourbon"
@import "vars.sass"

@import "app/libs/animate/animate.sass"
@import "app/libs/superfish/dist/css/superfish"
@import "app/libs/font-awesome/scss/font-awesome"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.all"
@import "app/libs/magnific-popup/dist/magnific-popup"
@import "app/css/magnific-custom"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.mm-menu
	&.mm-offcanvas
		z-index: 4
	.fa
		display: none

.sect-services
	background-color: #efefef
	.col-md-3
		padding: 0

.service-item
	border: 5px lighten($main-color, 6%) solid
	transition: all .5s ease
	text-align: center
	padding-bottom: 32px
	background-color: #fff
	z-index: 2
	&:hover
		transform: scale(1.05)
		border-color: $accent-color
		box-shadow: rgba(0,0,0,.35) 0 0 32px
		.service-item-image
			.fa
				opacity: .4
			&::before
				opacity: .7
		.service-item-stars
			color: $accent-color
			.fa
				margin: 0 3px
	h4
		font-size: 18px
		margin-bottom: 10px
	&-image
		min-height: 190px
		background-size: cover
		position: relative
		.fa
			font-size: 30px
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			margin-top: -10px
			margin-left: -10px
			opacity: 0
			transition: all .25s ease
		&::before
			position: absolute
			content: ""
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: $main-color
			opacity: 0
			transition: all .25s ease
	&-stars
		font-size: 11px
		margin-bottom: 18px
		color: #b4b4b4
		.fa
			margin-left: 1px
			transition: all .5s ease
	&-price
		margin-top: 5px
		margin-bottom: 26px
		font-size: em(17px)
		font-family: RobotoBold, sans-serif
		span
			font-size: em(28px)
		.fa
			color: $accent-color
			font-size: 18px

.sect-universal
	background-color: #efefef
	padding: 60px 0
	background-size: cover
	position: relative
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: .85
	h2
		margin: 0 20px 45px 0
		font-size: em(40px)
		line-height: em(18px)

.sect-news
	background-image: url(../img/news-bg.jpg)
	color: #fff
	&::before
		background-color: $main-color
		
.new-item
	.news-item-text
		margin-bottom: 25px
	background-color: #efefef
	padding: 1px 1px 32px 1px
	color: #111
	text-align: center
	margin: 20px 0
	&:hover
		.new-item-img
			&::before
				opacity: .7
			.fa
				opacity: .4
	&-img
		min-height: 180px
		background-size: cover
		display: block
		position: relative
		.fa
			font-size: 30px
			color: #fff
			position: absolute
			top: 50%
			left: 50%
			margin-top: -10px
			margin-left: -10px
			opacity: 0
			transition: all .25s ease
		&::before
			position: absolute
			content: ""
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: $main-color
			opacity: 0
			transition: all .25s ease
	h4, p
		padding: 0 20px
	p
		font-size: em(14px)
		margin-top: 0
	h4
		margin-bottom: 12px
		
.link-item
	display: block
	padding: 14px
	border: $accent-color 4px solid
	background-color: #fff
	color: #111
	text-decoration: none
	margin-bottom: 30px
	margin-top: 15px
	&::after
		display: block
		content: ''
		clear: both
	.h4
		text-decoration: underline
		line-height: 18px
		font-size: 16px
		display: block
	&:hover
		text-decoration: none
		.h4
			text-decoration: none

	img
		width: 34px
		height: auto
		float: left
		margin-right: 10px

.main-foot
	background-color: #0d0b26
	padding: 70px 0
	color: #fff
	.top-button
		margin-top: 15px
		margin-bottom: 40px
	.logo
		opacity: .3
	.footer-about
		opacity: .4
		font-size: em(13px)
		margin-top: 28px
		margin-bottom: 50px

.top-pannel-box
	margin-bottom: 25px

	.menu-type-2
		li
			margin-bottom: 8px
			display: block
			transition: all .5s ease
			a
				text-decoration: underline
				&:hover
					text-decoration: none

	li
		max-width: 100%
		opacity: .6
		margin-bottom: 18px
		font-size: em(13px)
		display: block
		transition: all .5s ease
		&:hover
			opacity: 1
			.fa
				transition: all .5s ease			
				opacity: .8
		a
			color: #fff
			.fa
				top: 3px
		.fa
			opacity: .4

.developer
	margin-top: 60px
	margin-bottom: 30px
	a
		width: 120px
		color: #fff
		font-size: 14px
		&:hover, &:focus
			text-decoration: none
		img, span
			display: block

.popup-form
	position: relative

	h3
		text-align: center
	label, input
		display: block
		width: 100%
	label
		margin-bottom: 12px
		span
			font-size: em(15px)
			color: #999
	input
		border: $accent-color 4px solid
		padding: 7px 15px
	.button
		margin-top: 20px
		margin-bottom: 10px

.success
	position: absolute
	display: none
	left: 0
	top: 0
	width: 100%
	height: 100px
	text-align: center
	background-color: #fff
	z-index: 2
	font-family: RobotoCondensedBold, sans-serif
	padding: 30px
	text-transform: uppercase
	align-items: center
	&.visible
		display: flex

//ALWAYS END
@import "media"

//Load Libs SASS
